<div class="card center">
	<h1>SCORE: <%= @result[:score] %></h1>
</div>
<div class="card center">

	<h2>You guessed: <%= @attempt %></h2> 
</div> 
<div class="card center">
	<h2>Which translates to: 
	<%= @result[:translation] == "" ? "nothing" : @result[:translation] %> in French</h2>	
</div>
<div class="card center">	
	<h2><%= @result[:message] %></h2>
</div>


<div class="card ceneter">
	<%= link_to "Play Again", "/" %>
</div>
